xsdforms/dac-xsdform.xml

<xs:schema targetNamespace="http://rdm.ru.nl/rdm/collections/1.1/"
           xmlns="http://rdm.ru.nl/rdm/collections/1.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:i="http://moten.david.org/xsd-forms">
    <xs:annotation i:numberItems="true">
        <xs:appinfo>
            <i:header><![CDATA[
<h2>Data Acquisition Collection</h2>
]]></i:header>
            <i:footer><![CDATA[
    <p>This form can be very stupid!!</p>
]]></i:footer>
            <i:extraImports><![CDATA[
    <!-- more imports here -->
]]></i:extraImports>
            <i:extraScript><![CDATA[
  // extra script would go here
  processXml = function (xml) {
  var data = new Object();
  data.xml = xml;
  //disable submit button
  $('#submit').hide();
  $.ajax({
  type: 'POST',
  url: 'http://rdmapptst.uci.ru.nl/cgi-bin/post_dac.py',
  data: data,
  success:
    function (dat,textStatus,jqXHR) {
      alert(textStatus + '\n'+ 'metadata for DAC posted successfully.');
      $('#submit').show();
    },
  error:
    function (jqXHR,textStatus,errorThrown) {
      alert(textStatus + '\n'+ errorThrown);
     $('#submit').show();
    },
  async:false
});
}
]]></i:extraScript>
            <i:extraCss><![CDATA[
  /* extra css would go here */
]]></i:extraCss>
        </xs:appinfo>
    </xs:annotation>

    <!-- session for basic information -->
    <xs:element name="dac" type="dac"/>

    <xs:complexType name="dac">
        <xs:sequence>

            <xs:element name="dc:title" type="textfield">
                <xs:annotation i:label="Title" i:validation="Attribute is mandatory."/>
            </xs:element>

            <xs:element name="dc:identifier" type="textfield">
                <xs:annotation i:label="Identifier"/>
            </xs:element>

            <xs:element name="dccn-project-identifier" type="xs:string" default="">
                <xs:annotation i:label="DCCN project identifier"/>
            </xs:element>

            <xs:element name="dcc-project-identifier" type="xs:string" default="">
                <xs:annotation i:label="DCC project identifier"/>
            </xs:element>

            <xs:element name="dcn-project-identifier" type="xs:string" default="">
                <xs:annotation i:label="DCN project identifier"/>
            </xs:element>

            <xs:element name="contain-human-subject-data" type="xs:boolean">
                <xs:annotation i:label="Containing data acquired from human subjects"/>
            </xs:element>

            <xs:element name="comments" type="xs:string">
                <xs:annotation i:text="textarea" i:label="Comments" i:css="height:12em;width:24em"/>
            </xs:element>

            <!--
            <xs:element name="author" type="author" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation i:legend="Author"/>
            </xs:element>

            <xs:element name="contact" type="contact" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation i:legend="Contact"/>
            </xs:element>
            -->

            <xs:element name="acquisitions" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="acquisition" type="acquisition">
                            <xs:annotation i:legend="Data acquisition"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <!-- type definition for data acquisition -->
    <xs:complexType name="acquisition">
        <xs:sequence>
            <xs:element name="start-time" type="xs:dateTime" default="1970-01-01T00:00:00">
                <xs:annotation i:label="Start time"/>
            </xs:element>

            <xs:element name="stop-time" type="xs:dateTime" default="1970-01-01T00:00:00">
                <xs:annotation i:label="Finish time"/>
            </xs:element>

            <xs:element name="datatypes" type="datatype" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation i:label="Data type"/>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="datatype">
        <xs:sequence>
            <xs:element name="datatype">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="scanner">
                            <xs:annotation i:label="Scanner" i:makeVisible="MRI->1,MEG->3,EEG->5" i:addBlank="true"/>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="MRI">
                                        <xs:annotation i:label="Magnetic resonance imaging (MRI)"/>
                                    </xs:enumeration>
                                    <xs:enumeration value="MEG">
                                        <xs:annotation i:label="Magnetoencephalography (MEG)"/>
                                    </xs:enumeration>
                                    <xs:enumeration value="EEG">
                                        <xs:annotation i:label="Electroencephalography (EEG)"/>
                                    </xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>

                        <xs:element name="mri-scanner" type="mri-scanner-info" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation i:visible="false" i:legend="MRI Scanner Detail"/>
                        </xs:element>
                        <xs:element name="meg-scanner" type="meg-scanner-info" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation i:visible="false" i:legend="MEG Scanner Detail"/>
                        </xs:element>
                        <xs:element name="eeg-scanner" type="eeg-scanner-info" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation i:visible="false" i:legend="EEG Scanner Detail"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mri-scanner-info">
        <xs:sequence>
            <xs:element name="station">
                <xs:annotation i:label="Station" i:addBlank="true"/>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Avanto"/>
                        <xs:enumeration value="Skyra"/>
                        <xs:enumeration value="Prisma"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="meg-scanner-info">
        <xs:sequence>
            <xs:element name="station">
                <xs:annotation i:label="Station" i:addBlank="true"/>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="MEG stations"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="eeg-scanner-info">
        <xs:sequence>
            <xs:element name="station">
                <xs:annotation i:label="Station" i:addBlank="true"/>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EEG stations"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- simple types for value validation -->
    <xs:simpleType name="name">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][a-zA-Z]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-mandatory">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9\-.]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="textfield">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>