xsdforms/sic-xsdform.xml

<xs:schema targetNamespace="http://rdm.ru.nl/rdm/collections/1.1/"
           xmlns="http://rdm.ru.nl/rdm/collections/1.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:i="http://moten.david.org/xsd-forms">
    <xs:annotation i:numberItems="true">
        <xs:appinfo>
            <i:header><![CDATA[
<h2>Scientific Integrity Collection</h2>
]]></i:header>
            <i:footer><![CDATA[
    <p>This form can be very stupid!!</p>
]]></i:footer>
            <i:extraImports><![CDATA[
    <!-- more imports here -->
]]></i:extraImports>
            <i:extraScript><![CDATA[
  // extra script would go here
  processXml = function (xml) {
  var data = new Object();
  data.xml = xml;
  //disable submit button
  $('#submit').hide();
  $.ajax({
  type: 'POST',
  url: 'http://rdmapptst.uci.ru.nl/cgi-bin/post_sic.py',
  data: data,
  success:
    function (dat,textStatus,jqXHR) {
      alert(textStatus + '\n'+ 'metadata for SIC posted successfully.');
      $('#submit').show();
    },
  error:
    function (jqXHR,textStatus,errorThrown) {
      alert(textStatus + '\n'+ errorThrown);
     $('#submit').show();
    },
  async:false
});
}
]]></i:extraScript>
            <i:extraCss><![CDATA[
  /* extra css would go here */
]]></i:extraCss>
        </xs:appinfo>
    </xs:annotation>

    <!-- session for basic information -->
    <xs:element name="sic" type="sic"/>

    <xs:complexType name="sic">
        <xs:sequence>

            <xs:element name="dc:title" type="textfield">
                <xs:annotation i:label="Title" i:validation="Attribute is mandatory."/>
            </xs:element>

            <xs:element name="dc:identifier" type="textfield">
                <xs:annotation i:label="Identifier"/>
            </xs:element>

            <xs:element name="dccn-project-identifier" type="xs:string" default="">
                <xs:annotation i:label="DCCN project identifier"/>
            </xs:element>

            <xs:element name="dcc-project-identifier" type="xs:string" default="">
                <xs:annotation i:label="DCC project identifier"/>
            </xs:element>

            <xs:element name="dcn-project-identifier" type="xs:string" default="">
                <xs:annotation i:label="DCN project identifier"/>
            </xs:element>

            <xs:element name="contain-human-subject-data" type="xs:boolean">
                <xs:annotation i:label="Containing data acquired from human subjects"/>
            </xs:element>

            <xs:element name="CMO-approval-number" type="xs:string">
                <xs:annotation i:label="CMO approval number"/>
            </xs:element>

            <xs:element name="comments" type="xs:string">
                <xs:annotation i:text="textarea" i:label="Comments" i:css="height:12em;width:24em"/>
            </xs:element>

            <xs:element name="contact" type="contact">
                <xs:annotation i:legend="Contact"/>
            </xs:element>

            <xs:element name="publication" type="publication">
                <xs:annotation i:legend="Journal publication"/>
            </xs:element>

            <!--
            <xs:element name="acquisition" type="acquisition" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation i:legend="Data acquisition"/>
            </xs:element>
            -->
            <xs:element name="data-process" type="data-process">
                <xs:annotation i:legend="Data process"/>
            </xs:element>

            <xs:element name="keywords" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="keyword" type="keyword-info">
                            <xs:annotation i:legend="Keyword"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <!-- type definition for journal publication -->
    <xs:complexType name="publication">
        <xs:sequence>
            <xs:element name="title" type="string-mandatory">
                <xs:annotation i:label="Publication title" i:validation="Attribute is mandatory"/>
            </xs:element>

            <xs:element name="authors"  minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="author" type="author">
                            <xs:annotation i:legend="Author"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="journal" type="string-mandatory">
                <xs:annotation i:label="Name of journal" i:validation="Attribute is mandatory"/>
            </xs:element>
            <xs:element name="journal-reference" type="string-mandatory">
                <xs:annotation i:label="Journal reference"/>
            </xs:element>
            <xs:element name="date-submit" type="xs:date">
                <xs:annotation i:label="Date of submission"/>
            </xs:element>
            <xs:element name="status">
                <xs:annotation i:label="Status" i:makeVisible="published->1"/>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="in preparation"/>
                        <xs:enumeration value="submitted"/>
                        <xs:enumeration value="under review"/>
                        <xs:enumeration value="rejected"/>
                        <xs:enumeration value="accepted"/>
                        <xs:enumeration value="published"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="date-publish" type="xs:date">
                <xs:annotation i:visible="false" i:label="Date of publication"/>
            </xs:element>
            <xs:element name="abstract" type="xs:string">
                <xs:annotation i:text="textarea" i:label="Abstract" i:css="height:12em;width:24em"/>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- type definition for author and contact person -->
    <xs:complexType name="author">
        <xs:sequence>
            <xs:element name="firstname" type="name">
                <xs:annotation i:label="First name" i:validation="Attribute is mandatory."/>
            </xs:element>
            <xs:element name="lastname" type="name">
                <xs:annotation i:label="Last name" i:validation="Attribute is mandatory."/>
            </xs:element>

            <!-- multiple affiliations -->
            <xs:element name="affiliations" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="affiliate" type="affiliate">
                            <xs:annotation i:label="Affiliation"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="contact">
        <xs:sequence>
            <xs:element name="firstname" type="name">
                <xs:annotation i:label="First name" i:validation="Attribute is mandatory."/>
            </xs:element>

            <xs:element name="lastname" type="name">
                <xs:annotation i:label="Last name" i:validation="Attribute is mandatory."/>
            </xs:element>

            <xs:element name="email" type="email">
                <xs:annotation i:label="Email" i:validation="Attribute is mandatory."/>
            </xs:element>

            <!-- multiple affiliations -->
            <xs:element name="affiliations" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="affiliate" type="affiliate">
                            <xs:annotation i:label="Affiliation"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="affiliate">
        <xs:sequence>
            <xs:element name="institution" type="affiliation-opts">
                <xs:annotation i:label="Institution" i:addBlank="true" i:makeVisible="other->1"/>
            </xs:element>
            <xs:element name="other-institution" type="string-mandatory">
                <xs:annotation i:visible="false" i:label="Name of institute"
                               i:validation="Institute name should contains at-least 2 characters."/>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="affiliation-opts">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DCCN"/>
            <xs:enumeration value="DCC"/>
            <xs:enumeration value="DCN"/>
            <xs:enumeration value="other"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- type definition for data process -->
    <xs:complexType name="data-process">
        <xs:sequence>
            <xs:element name="softwares" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="software" type="software-info">
                            <xs:annotation i:legend="Software"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="software-info">
        <xs:sequence>
            <xs:element name="name">
                 <xs:annotation i:label="Name" i:addBlank="true" i:makeVisible="other->1"/>
                    <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Matlab"/>
                        <xs:enumeration value="R"/>
                        <xs:enumeration value="Octave"/>
                        <xs:enumeration value="SAS"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="other-name" type="string-mandatory">
                <xs:annotation i:visible="false" i:label="Name of software"/>
            </xs:element>
            <xs:element name="version" type="xs:string">
                <xs:annotation i:label="Version"/>
            </xs:element>
            <xs:element name="comments" type="xs:string">
                <xs:annotation i:text="textarea" i:label="Comments" i:css="height:12em;width:24em"/>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- type definition for keyword attributes -->
    <xs:complexType name="keyword-info">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation i:label="Name"/>
            </xs:element>
            <xs:element name="vocabulary">
                <xs:annotation i:label="Vocabulary" i:addBlank="true" i:makeVisible="other->1"/>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Cognitive Atlas"/>
                        <xs:enumeration value="MeSH"/>
                        <xs:enumeration value="NeuroLex"/>
                        <xs:enumeration value="CogPO"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="other-vocabulary">
                <xs:annotation i:visible="false" i:legend="Other vocabulary"/>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="vocabulary-name" type="string-mandatory">
                            <xs:annotation i:label="Vocabulary"/>
                        </xs:element>
                        <xs:element name="vocabulary-uri" type="xs:string">
                            <xs:annotation i:label="Vocabulary URI"/>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- simple types for value validation -->
    <xs:simpleType name="name">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string-mandatory">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9\-.]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="textfield">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>